
.map::before {
  position: absolute;
  content: "";
  background: transparent;
  height: 100%;
  left:0; right: 0;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: inset 0 0 5px 10px #263238;
  pointer-events: none;
} 


body {
  background-color:  #263238;
  
}

h1, h2, h4, h6 {
  color: #fff;
}

p {
  color: #fff;
  font-size: x-small;
}

.estate {
  cursor: pointer;
}

.map-background {
  fill: #fff;
  opacity: 0;
  pointer-events: none;
}

.map-background.clickable {
  cursor: pointer;
  pointer-events: all;
}



.datapoint-node{
  fill: #263238;
  stroke: #C62828;
  stroke-width: 2;
}
 
.dataline {
  fill: none;
  stroke: #C62828;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.axis line, .axis text{
  stroke: #fff;
}

